<article>
  <h2 class="f3 f2-m f1-l">Some Article Title</h2>
  <p class="measure-wide lh-copy">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ultricies sem turpis, ut semper eros sodales luctus. Integer turpis arcu, feugiat nec nisi convallis, cursus iaculis dolor. Nulla at odio eu neque accumsan mollis. Aliquam accumsan ex nec maximus accumsan. Aenean mollis odio ac massa pellentesque viverra. Maecenas sagittis urna sit amet felis vulputate facilisis. In mi ligula, commodo nec imperdiet quis, dignissim non eros. Sed pulvinar libero eget porta fringilla.
  </p>
  <ul class="cf">
    {{#each model as |user|}}
      <article class="fl mw5 bg-white br3 pa3 pa4-ns ma1 ba b--black-10">
        <div class="tc">
          <img src="http://tachyons.io/img/avatar_1.jpg" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
          <h1 class="f3 mb2">{{user.firstName}} {{user.lastName}}</h1>
          <h2 class="f5 fw4 gray mt0">CCO (Chief Cat Officer)</h2>
        </div>
      </article>
    {{/each}}
  </ul>
  <p class="measure-wide lh-copy">
    Curabitur cursus tortor nulla, vitae rutrum nulla pretium at. Phasellus tempus dui et libero vestibulum accumsan. Sed facilisis lacus sed nibh semper, non rhoncus lorem tristique. Aenean maximus eros sed molestie aliquet. Donec ut leo diam. Donec rutrum, diam ac ultrices hendrerit, lorem odio cursus velit, id placerat lacus massa sit amet nisl. Ut commodo elit vitae ipsum feugiat vestibulum. Donec tincidunt eget turpis vitae vestibulum. Curabitur eu nisl a enim feugiat auctor nec rutrum mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Fusce dictum suscipit mollis. Nunc gravida diam ac magna feugiat, non sollicitudin libero sagittis. Nullam in egestas quam. Phasellus sit amet vehicula augue, a feugiat odio. Maecenas diam tellus, euismod ut rutrum vitae, tempor molestie sem.
  </p>
</article>

{{outlet}}